

.topBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: aqua;
}

.topBar span {
    cursor: pointer;
}

.coderList {
    display: flex;
    padding: 30px;
}

.coderCard {
    padding: 50px 50px;
    border: 1px solid black;
    margin: 25px;
}

.coderCard .techTag {
    padding: 10px;
    background-color: bisque;
    border-radius: 5px;
}